body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1 {
    margin-top: 80px;
    text-transform: uppercase;
}

.old a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 2s;
    font-weight: bold;

    background-color: CornflowerBlue;
    padding: 7px;
    border-radius: 3px;
}

.new a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 2s;
    font-weight: bold;

    background-color: coral;
    padding: 7px;
    border-radius: 3px;

}

.projects a:hover {
    position: relative;
    top: -5px
}

.projects {
    margin-top: 60px;
}
